.main {
  width: 100%;
}

header {
  background: white;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

header .menu_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu_header ul.menus {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .menu_header ul.menus li a {
  display: inline-block;
  padding: 20px 19px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin: 0;
}

section.main_box-project {
  padding: 70px 0;
}

.box-row-project {
  display: flex;
  gap: 10px;
}

.box-row-project .project_box {
  width: calc(33% - 8px);
  padding: 10px;
}

.box-row-project .project_box img.planet_img {
  width: 100%;
  height: fit-content;
}

.box-row-project .project_box .box-shadows-manage {
  border: 1px solid #bbbbbb;
  box-shadow: 0 0 10px #0000001c;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.box-row-project .project_box .box-shadows-manage h3 {
  padding: 10px;
  margin: 0;
}

.box-row-project .project_box .box-shadows-manage p {
  margin: 0;
  padding: 0 10px 21px;
}

.row-plantes {
  display: flex;
  flex-wrap: wrap;
}

.row-plantes .box-planets {
  width: 33.3333%;
  padding: 10px;
}

.row-plantes .box-planets img.planet_box {
  width: 100%;
  height: fit-content;
}

.row-plantes .box-planets .inner-box-planet {
  border: 1px solid #a6a6a6;
  padding: 6px;
  border-radius: 4px;
}

.row-plantes .box-planets .inner-box-planet h3 {
  font-size: 22px;
  padding: 10px 6px;
  margin: 0;
}

.row-plantes .box-planets .inner-box-planet p.planet_name {
  margin: 0;
  padding: 0 10px;
  font-size: 12px;
}

.row-plantes .box-planets .inner-box-planet a {
  font-size: 12px;
  margin: 0;
  padding: 10px 10px 16px;
  display: inline-block;
  text-decoration: none;
  color: blue;
}

section.planets_list {
  padding: 40px 0px;
}