.main {
  width: 100%;
}

header {
  background: white;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

header .menu_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu_header ul.menus {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .menu_header ul.menus li a {
  display: inline-block;
  padding: 20px 19px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin: 0;
}

section.main_box-project {
  padding: 70px 0;
}

.box-row-project {
  display: flex;
  gap: 10px;
}

.box-row-project .project_box {
  width: calc(33% - 8px);
  padding: 10px;
}

.box-row-project .project_box img.planet_img {
  width: 100%;
  height: fit-content;
}

.box-row-project .project_box .box-shadows-manage {
  border: 1px solid #bbbbbb;
  box-shadow: 0 0 10px #0000001c;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.box-row-project .project_box .box-shadows-manage h3 {
  padding: 10px;
  margin: 0;
}

.box-row-project .project_box .box-shadows-manage p {
  margin: 0;
  padding: 0 10px 21px;
}

.row-plantes {
  display: flex;
  flex-wrap: wrap;
}

.row-plantes .box-planets {
  width: 33.3333%;
  padding: 10px;
}

.row-plantes .box-planets img.planet_box {
  width: 100%;
  height: fit-content;
}

.row-plantes .box-planets .inner-box-planet {
  border: 1px solid #a6a6a6;
  padding: 6px;
  border-radius: 4px;
}

.row-plantes .box-planets .inner-box-planet h3 {
  font-size: 22px;
  padding: 10px 6px;
  margin: 0;
}

.row-plantes .box-planets .inner-box-planet p.planet_name {
  margin: 0;
  padding: 0 10px;
  font-size: 12px;
}

.row-plantes .box-planets .inner-box-planet a {
  font-size: 12px;
  margin: 0;
  padding: 10px 10px 16px;
  display: inline-block;
  text-decoration: none;
  color: blue;
}

section.planets_list {
  padding: 40px 0px;
}

body:has(.parent_div_cal) header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body:has(.parent_div_cal) {
  background-color: rgb(56, 191, 211);
  font-size: 18px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 87px;
}

.parent_div_cal {
  width: 320px;
  text-align: center;
  border: 10px solid #333;
  background-color: whitesmoke;
  border-radius: 6px;
}

.container_calculator .keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

.container_calculator input {
  height: 70px;
  width: 100%;
  background-color: rgb(30, 15, 15);
  border: 0;
  color: white;
  padding: 0 10px;
  text-align: right;
  font-size: 32px;
  border-radius: 0 0 4px 4px;
}

.container_calculator input:focus,
.container_calculator input:focus-visible,
.container_calculator input:hover {
  outline: none;
}

.parent_div_cal h2 {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: 18px 0;
  margin: 0;
}

.container_calculator button {
  border: 0;
  background-color: black;
  color: white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(30, 15, 15);
}

.clear {
  grid-column: 1/3;
  grid-row: 1;
}

#calc {
  grid-column: 3/5;
  grid-row: 5;
}


/* About Me CSS */
.section-padding {
  background-color: #1a1a1a !important;
  padding-top: 140px;
  padding-bottom: 140px;
}

.row.lg-marg {
  margin-left: -40px;
  margin-right: -40px;
}

.about-crev .left-block {
  position: relative;
  z-index: 3;
}

.mt-100 {
  margin-top: 100px !important;
}

.about-crev .left-block .info {
  padding: 0 60px;
  margin-top: -30px;
}

.main-color {
  color: #14cf93 !important;
}

.fz-50 {
  font-size: 50px !important;
}

.line-height-1 {
  line-height: 1;
}

.nowrap {
  white-space: nowrap;
}

.about-crev p {
  line-height: 1.8;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #c6c8c9;
  margin: 0;
}

.fit-img {
  overflow: hidden;
}

.radius-30 {
  border-radius: 30px !important;
}

.fit-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.about-crev .left-block .mz-shap {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.row.lg-marg>* {
  padding-left: 40px;
  padding-right: 40px;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.sub-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.main-color {
  color: #14cf93 !important;
}

.about-crev h2 {
  color: white;
  font-size: 50px;
}

.bord-thin-top {
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 40px !important;
  margin-top: 40px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.bord-thin-top p {
  color: #c6c8c9;
}

.bord-thin-top h6 {
  color: white;
}

.weather_app {
  width: 100%;
  height: calc(100vh - 90px);
}

.weather_app .box-weather-wrp {
  width: 400px;
  margin: 20px auto;
  background: #00adff;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}

.headersearch {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.headersearch input {
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 10px 12px;
}

.headersearch button {
  background: white;
  border: 0;
  padding: 10px 13px;
  border-radius: 4px;
}

.weather_result>img {
  width: 100px;
  margin-bottom: 20px;
}

.weather_result>h4 {
  color: white;
  font-size: 42px;
}

.weather_result>h5 {
  color: #fff;
  font-size: 24px;
  padding-bottom: 70px;
}

.box-wind-wrp {
  display: flex;
  align-items: center;
  gap: 14px;
}

.box-wind-wrp .data-wind-wrp h4 {
  color: white;
  margin: 0;
  font-size: 20px;
  text-align: left;
}

.box-wind-wrp .data-wind-wrp p {
  margin: 0;
  color: white;
  font-weight: 500;
}